PORT=8788
DATABASE_URL="postgresql://DBName:DBPass@localhost:5432/DBName?schema=public"
JWT_SECRET=openssl rand -base 64 32
JWT_REFRESH_SECRET=openssl rand -base 64 64
DEFAULT_SCORE_PUZZLE_ASSEMBLY=20
DEFAULT_DURATION_PUZZLE_ASSEMBLY=300
NODE_ENV=development

